In [1]:
print('test')

test

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

FileNotFoundError: [Errno 2] File Resources/schools_complete.csv does not exist: 'Resources/schools_complete.csv'

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "/Users/sambarton/pandas-challenge/Resources/schools_complete.csv"
student_data_to_load = "/Users/sambarton/pandas-challenge/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

df = pd.DataFrame(school_data_complete, columns = ["Total Schools"])

In [3]:
dfsc

       Total Schools
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
39165            NaN
39166            NaN
39167            NaN
39168            NaN
39169            NaN

[39170 rows x 1 columns]

In [5]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
School_Count = len(school_data_complete["school_name"].unique())

In [9]:
School_Count

15

In [10]:
Student_Count = len(school_data_complete["Student ID"])

In [11]:
Student_Count

39170

In [12]:
Total_Budget = sum(school_data_complete["budget"])

In [13]:
Total_Budget

82932329558

In [14]:
Total_Budget/Student_Count

2117240.989481746

In [15]:
Average_Math_Score = sum(school_data_complete["math_score"])/Student_Count

In [16]:
Average_Math_Score

78.98537145774827