In [4]:
print('test')

test

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "/Users/sambarton/pandas-challenge/Resources/schools_complete.csv"
student_data_to_load = "/Users/sambarton/pandas-challenge/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

df = pd.DataFrame(school_data_complete, columns = ["Total Schools"])

In [8]:
dfsc

NameError: name 'dfsc' is not defined

In [9]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
School_Count = len(school_data_complete["school_name"].unique())

In [11]:
School_Count

15

In [12]:
Student_Count = len(school_data_complete["Student ID"])

In [13]:
Student_Count

39170

In [14]:
Total_Budget = sum(school_data_complete["budget"])

In [15]:
Total_Budget

82932329558

In [16]:
Total_Budget/Student_Count

2117240.989481746

In [17]:
Average_Math_Score = sum(school_data_complete["math_score"])/Student_Count

In [18]:
Average_Math_Score

78.98537145774827

In [19]:
Student_Count

39170

In [30]:
school_budget = sum(school_data_complete["budget"].unique())
school_budget

24649428

In [35]:
math_pass_criteria = school_data_complete[school_data_complete.reading_score >= 70]
percent_pass_math = (math_pass_criteria['math_score'].count()/Student_Count)*100

In [36]:
percent_pass_math

74.9808526933878

In [39]:
reading_pass_criteria = school_data_complete[school_data_complete.reading_score >= 70]
percent_pass_reading = (reading_pass_criteria['reading_score'].count()/Student_Count)*100

In [40]:
percent_pass_reading

85.80546336482001

In [41]:
Average_Reading_Score = sum(school_data_complete["reading_score"])/Student_Count

In [42]:
Average_Reading_Score

81.87784018381414

In [55]:
overall_passing_rate = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/Student_Count*100
overall_passing_rate

65.17232575950983

In [45]:
overall_passing_rate

80.39315802910392

In [48]:
d = {'Total Schools': School_Count,
     'Total Students': Student_Count,
    }

In [49]:
d

{'Total Schools': 15, 'Total Students': 39170}