In [4]:
print('test')

test

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "/Users/sambarton/pandas-challenge/Resources/schools_complete.csv"
student_data_to_load = "/Users/sambarton/pandas-challenge/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

df = pd.DataFrame(school_data_complete, columns = ["Total Schools"])

In [8]:
dfsc

NameError: name 'dfsc' is not defined

In [9]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
School_Count = len(school_data_complete["school_name"].unique())

In [11]:
School_Count

15

In [12]:
Student_Count = len(school_data_complete["Student ID"])

In [13]:
Student_Count

39170

In [14]:
Total_Budget = sum(school_data_complete["budget"])

In [15]:
Total_Budget

82932329558

In [16]:
Total_Budget/Student_Count

2117240.989481746

In [17]:
Average_Math_Score = sum(school_data_complete["math_score"])/Student_Count

In [18]:
Average_Math_Score

78.98537145774827

In [19]:
Student_Count

39170

In [30]:
school_budget = sum(school_data_complete["budget"].unique())
school_budget

24649428

In [35]:
math_pass_criteria = school_data_complete[school_data_complete.reading_score >= 70]
percent_pass_math = (math_pass_criteria['math_score'].count()/Student_Count)*100

In [36]:
percent_pass_math

74.9808526933878

In [39]:
reading_pass_criteria = school_data_complete[school_data_complete.reading_score >= 70]
percent_pass_reading = (reading_pass_criteria['reading_score'].count()/Student_Count)*100

In [40]:
percent_pass_reading

85.80546336482001

In [41]:
Average_Reading_Score = sum(school_data_complete["reading_score"])/Student_Count

In [42]:
Average_Reading_Score

81.87784018381414

In [55]:
overall_passing_rate = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/Student_Count*100
overall_passing_rate

65.17232575950983

In [60]:
overall_passing_rate

65.17232575950983

In [48]:
d = {'Total Schools': School_Count,
     'Total Students': Student_Count,
    }

In [49]:
d

{'Total Schools': 15, 'Total Students': 39170}

In [61]:
district_summaryDF = pd.DataFrame({"School Count": [School_Count],
                                   "Student Count": Student_Count,
                                   "Total Budget": school_budget,
                                   "Average Math Score": Average_Math_Score,
                                   "Average Reading Score": Average_Reading_Score,
                                   "% Passing Math": percent_pass_math,
                                   "% Passing Reading": percent_pass_reading,
                                   "% Passing Overall": overall_passing_rate})

In [62]:
district_summaryDF

,School Count,Student Count,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [98]:
#grouping by the school name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [100]:
#calculating total number of students by school
numberOfStudent = school_name['Student ID'].count()

In [105]:
#calculating total budget of each school
totalBudgetBySchool = school_data.set_index('school_name')['budget']

In [106]:
#assigning the school type
schoolType = school_data.set_index('school_name')['type']

In [107]:
#assigning the school type
schoolType = school_data.set_index('school_name')['type']

In [109]:
#calculating total budget of each student
budgetPerStudent = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

In [114]:
#calculating average math score
averageMathScore = school_name['math_score'].mean()

In [115]:
#calculating average reading score
averageReadingScore = school_name['reading_score'].mean()

In [129]:
#calculating percent passing math by school
percentPassMathBySchool = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/numberOfStudent*100

In [130]:
#calculating percent passing reading by school
percentPassReadBySchool = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/numberOfStudent*100

In [131]:
#calculating overall passing rate by school
percentPassOverallBySchool = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('school_name')['Student ID'].count()/numberOfStudent*100

In [132]:
#creating dataframe to hold all varaibles we just created & testing it
school_summary = pd.DataFrame({
    "School Type": schoolType,
    "Total Students": numberOfStudent,
    "Total School Budget": totalBudgetBySchool,
    "Per Student Budget": budgetPerStudent,
    "Average Math Score": averageMathScore,
    "Average Reading Score": averageReadingScore,
    '% Passing Math': percentPassMathBySchool,
    '% Passing Reading': percentPassReadBySchool,
    "% Overall Passing": percentPassOverallBySchool
})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [133]:
#it worked!
#df.sort_values('2')
#test = df.sort('one', ascending=False)

In [148]:
#Top 5 Best Schools
school_summary.sort_values('% Overall Passing',ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [151]:
#Top 5 Worst Schools
school_summary.sort_values('% Overall Passing',ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [156]:
#Sort By Math Scores
sortByGrade = school_data_complete.set_index('grade').groupby(['grade'])

In [158]:
averageMathScoreByGrade = sortByGrade['math_score'].mean()

In [159]:
averageMathScoreByGrade

grade
10th    78.941483
11th    79.083548
12th    78.993164
9th     78.935659
Name: math_score, dtype: float64

In [160]:
#df[(df.A == 1) & (df.D == 6)]

In [161]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [162]:
sortByGrade9 = school_data_complete[school_data_complete.grade == '9th']

In [170]:
grade9MathScores = sortByGrade9.groupby('school_name')['math_score'].mean()

In [171]:
sortByGrade10 = school_data_complete[school_data_complete.grade == '10th']

In [179]:
grade10MathScores = sortByGrade10.groupby('school_name')['math_score'].mean()
sortByGrade11 = school_data_complete[school_data_complete.grade == '11th']
grade11MathScores = sortByGrade11.groupby('school_name')['math_score'].mean()
sortByGrade12 = school_data_complete[school_data_complete.grade == '12th']
grade12MathScores = sortByGrade12.groupby('school_name')['math_score'].mean()

In [180]:
gradeSummary = pd.DataFrame({
    "9th Grade Math Score": grade9MathScores,
    "10th Grade Math Score": grade10MathScores,
    "11th Grade Math Score": grade11MathScores,
    "12th Grade Math Score": grade12MathScores,
})
gradeSummary

,9th Grade Math Score,10th Grade Math Score,11th Grade Math Score,12th Grade Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [182]:
grade9ReadScores = sortByGrade9.groupby('school_name')['reading_score'].mean()
grade10ReadScores = sortByGrade10.groupby('school_name')['reading_score'].mean()
grade11ReadScores = sortByGrade11.groupby('school_name')['reading_score'].mean()
grade12ReadScores = sortByGrade10.groupby('school_name')['reading_score'].mean()

In [183]:
gradeSummaryRead = pd.DataFrame({
    "9th Grade Read Score": grade9ReadScores,
    "10th Grade Read Score": grade10ReadScores,
    "11th Grade Read Score": grade11ReadScores,
    "12th Grade Read Score": grade12ReadScores,
})

gradeSummaryRead

,9th Grade Read Score,10th Grade Read Score,11th Grade Read Score,12th Grade Read Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.907183
Cabrera High School,83.676136,84.253219,83.788382,84.253219
Figueroa High School,81.198598,81.408912,80.640339,81.408912
Ford High School,80.632653,81.262712,80.403642,81.262712
Griffin High School,83.369193,83.706897,84.288089,83.706897
Hernandez High School,80.866860,80.660147,81.396140,80.660147
Holden High School,83.677165,83.324561,83.815534,83.324561
Huang High School,81.290284,81.512386,81.417476,81.512386
Johnson High School,81.260714,80.773431,80.616027,80.773431
Pena High School,83.807273,83.612000,84.335938,83.612000
Rodriguez High School,80.993127,80.629808,80.864811,80.629808
Shelton High School,84.122642,83.441964,84.373786,83.441964
Thomas High School,83.728850,84.254157,83.585542,84.254157
Wilson High School,83.939778,84.021452,83.764608,84.021452
Wright High School,83.833333,83.812757,84.156322,83.812757

In [209]:
SpendingRangesPerStudent = [0,584,629,644,680]

group_labels = ["<$584", "$585-629", "$630-644", "$645-675"]

In [223]:
school_summary['SpendingRangesPerStudent'] = pd.cut(school_summary['Per Student Budget'], SpendingRangesPerStudent, labels = group_labels)
school_summary.groupby('SpendingRangesPerStudent')['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'].mean()

<ipython-input-223-302691276068>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  school_summary.groupby('SpendingRangesPerStudent')['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
SpendingRangesPerStudent,,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [227]:
SchoolSize = [0,1000,2000,5000]

group_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [228]:
school_summary['SchoolSize'] = pd.cut(school_summary['School Size'], SchoolSize, labels = group_labels)
school_summary.groupby('SchoolSize')['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'].mean()

<ipython-input-228-e4f0e5a11345>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  school_summary.groupby('SchoolSize')['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
SchoolSize,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [242]:
SchoolType = ['charter', 'district']
group_labels = ["Charter", "District"]

In [244]:
school_summary['SchoolType'] = pd.cut(school_summary['School Type'], SchoolSize, labels = group_labels)
school_summary.groupby('SchoolType')['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'].mean()

TypeError: '<' not supported between instances of 'int' and 'str'

In [245]:
#schoo_type = school_data_complete.groupby("type")

In [255]:
#group by school type
school_type = school_data_complete.set_index('type').groupby(['type'])

In [266]:
averageMathScoreByType = school_type['math_score'].mean()
averageReadingScoreByType = school_type['reading_score'].mean()
numberOfStudentByType = school_type['Student ID'].count()
percentPassMathByType = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/numberOfStudentByType*100
percentPassReadingByType = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/numberOfStudentByType*100
percentPassOverallBySchoolType = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('type')['Student ID'].count()/numberOfStudentByType*100

In [267]:
scoresBySchoolType = pd.DataFrame({
    "Average Math Score": averageMathScoreByType,
    "Average Reading Score": averageReadingScoreByType,
    "% Passing Math": percentPassMathByType,
    "% Passing Reading": percentPassReadingByType,
    "% Overall Passing": percentPassOverallBySchoolType,
})
scoresBySchoolType

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878