In [4]:
print('test')

test

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "/Users/sambarton/pandas-challenge/Resources/schools_complete.csv"
student_data_to_load = "/Users/sambarton/pandas-challenge/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

df = pd.DataFrame(school_data_complete, columns = ["Total Schools"])

In [8]:
dfsc

NameError: name 'dfsc' is not defined

In [9]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
School_Count = len(school_data_complete["school_name"].unique())

In [11]:
School_Count

15

In [12]:
Student_Count = len(school_data_complete["Student ID"])

In [13]:
Student_Count

39170

In [14]:
Total_Budget = sum(school_data_complete["budget"])

In [15]:
Total_Budget

82932329558

In [16]:
Total_Budget/Student_Count

2117240.989481746

In [17]:
Average_Math_Score = sum(school_data_complete["math_score"])/Student_Count

In [18]:
Average_Math_Score

78.98537145774827

In [19]:
Student_Count

39170

In [30]:
school_budget = sum(school_data_complete["budget"].unique())
school_budget

24649428

In [35]:
math_pass_criteria = school_data_complete[school_data_complete.reading_score >= 70]
percent_pass_math = (math_pass_criteria['math_score'].count()/Student_Count)*100

In [36]:
percent_pass_math

74.9808526933878

In [39]:
reading_pass_criteria = school_data_complete[school_data_complete.reading_score >= 70]
percent_pass_reading = (reading_pass_criteria['reading_score'].count()/Student_Count)*100

In [40]:
percent_pass_reading

85.80546336482001

In [41]:
Average_Reading_Score = sum(school_data_complete["reading_score"])/Student_Count

In [42]:
Average_Reading_Score

81.87784018381414

In [55]:
overall_passing_rate = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/Student_Count*100
overall_passing_rate

65.17232575950983

In [60]:
overall_passing_rate

65.17232575950983

In [48]:
d = {'Total Schools': School_Count,
     'Total Students': Student_Count,
    }

In [49]:
d

{'Total Schools': 15, 'Total Students': 39170}

In [61]:
district_summaryDF = pd.DataFrame({"School Count": [School_Count],
                                   "Student Count": Student_Count,
                                   "Total Budget": school_budget,
                                   "Average Math Score": Average_Math_Score,
                                   "Average Reading Score": Average_Reading_Score,
                                   "% Passing Math": percent_pass_math,
                                   "% Passing Reading": percent_pass_reading,
                                   "% Passing Overall": overall_passing_rate})

In [62]:
district_summaryDF

,School Count,Student Count,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [98]:
#grouping by the school name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [100]:
#calculating total number of students by school
numberOfStudent = school_name['Student ID'].count()

In [105]:
#calculating total budget of each school
totalBudgetBySchool = school_data.set_index('school_name')['budget']

In [103]:
#testing to see if this works before I continue
school_summary = pd.DataFrame({
    "School Type": schoolType,
    "Total Students": numberOfStudent,
    "School Budget": totalBudgetBySchool,
    
})

In [104]:
school_summary

                      School Type  Total Students  School Budget
Bailey High School       District            4976        3124928
Cabrera High School       Charter            1858        1081356
Figueroa High School     District            2949        1884411
Ford High School         District            2739        1763916
Griffin High School       Charter            1468         917500
Hernandez High School    District            4635        3022020
Holden High School        Charter             427         248087
Huang High School        District            2917        1910635
Johnson High School      District            4761        3094650
Pena High School          Charter             962         585858
Rodriguez High School    District            3999        2547363
Shelton High School       Charter            1761        1056600
Thomas High School        Charter            1635        1043130
Wilson High School        Charter            2283        1319574
Wright High School        Charter            1800        1049400

In [97]:
#assigning the school type
schoolType = school_data.set_index('school_name')['type']